<!--
  Generated template for the AddproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" >
    <ion-title>add house</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label>location</ion-label>
    <ion-select required type="text" [(ngModel)]="house.location">
      <ion-option value="Berlin">Berlin</ion-option>
      <ion-option value="Frankfurt">Frankfurt</ion-option>
      <ion-option value="Stuttgart">Stuttgart</ion-option>
      <ion-option value="München">München</ion-option>
      <ion-option value="Other">Other</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating> rooms
    </ion-label>
    <ion-input type="number" min="1" max="10" required [(ngModel)]="house.rooms"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating> details
    </ion-label>
    <ion-input type="text" required [(ngModel)]="house.details"></ion-input>
  </ion-item>
  <ion-item>
    <img [src]="captureDataUrl" *ngIf="captureDataUrl" height="100px" width="auto" />
  </ion-item>
  <button *ngIf="!captureDataUrl" ion-button block (click)="takePicAndUpload()">take photo upload</button>
  <button ion-button block type="submit" [disabled]="!captureDataUrl||!house.rooms||!house.location||!house.details" (click)="onAddHouse(house)">add house</button>
</ion-content>