<!--
  Generated template for the AddaccidentPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Problem melden</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label floating>kategorie</ion-label>
      <ion-select required type="text" [(ngModel)]="accident.category">
        <ion-option value="Defekt Laterne">Defekt Laterne</ion-option>
        <ion-option value="Haustier Vermisst">Haustier Vermisst</ion-option>
        <ion-option value="Schlagloch">Schlagloch</ion-option>
        <ion-option value="Vandalismus">Vandalismus</ion-option>
      </ion-select>
    </ion-item>
    <!--ion-item>
      <button ion-button block (click)="getHandyNumberFromSim()">Get HandyNumber</button>
    </ion-item-->
    <ion-item>
      <ion-label floating>Handynumber
      </ion-label>
      <ion-input type="Handynumber" type="text" required [(ngModel)]="accident.handynumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Details</ion-label>
      <ion-input type="text" required [(ngModel)]="accident.details"></ion-input>
    </ion-item>
    <ion-item>
      <img [src]="captureDataUrl" *ngIf="captureDataUrl" width="40%" height="auto" />
    </ion-item>
  </ion-card>
  <button *ngIf="!captureDataUrl" ion-button block (click)="takePicAndUpload()">take photo upload</button>
  <button ion-button block type="submit" [disabled]="!captureDataUrl||!accident.handynumber
  ||!accident.category||!accident.details" (click)="onAddAccident(accident)">Problem melden</button>
</ion-content>